# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
moovie/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data and model files
*.pkl
*.csv

# System files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Kaggle credentials
kaggle.json
